[submodule "3rdparty/push"]
	path = 3rdparty/push
	url = https://github.com/Ulydev/push.git
[submodule "3rdparty/middleclass"]
	path = 3rdparty/middleclass
	url = https://github.com/kikito/middleclass.git
